<div class="row row-mptp">
	<div class="form-section-small-legend2">La Belle photos</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-section-small">
		<label>Photos <span style="color: #60CA13">la belle </span></label>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<div class="col-lg-3 col-sm-4 col-xs-6">
						<a title="Image 2" href="#"><img
							class="thumbnail img-responsive"
							src="\images\photos\macaroon1.jpg" width="150" height="150"></a>
					</div>
					<div class="col-lg-3 col-sm-4 col-xs-6">
						<a title="Image 3" href="#"><img
							class="thumbnail img-responsive"
							src="\images\photos\macaroon10.jpg" width="150" height="150"></a>
					</div>
					<div class="col-lg-3 col-sm-4 col-xs-6">
						<a title="Image 4" href="#"><img
							class="thumbnail img-responsive"
							src="\images\photos\macaroon2.jpg" width="150" height="150"></a>
					</div>
					<div class="col-lg-3 col-sm-4 col-xs-6">
						<a title="Image 5" href="#"><img
							class="thumbnail img-responsive"
							src="\images\photos\macaroon3.jpg" width="150" height="150"></a>
					</div>
					<div class="col-lg-3 col-sm-4 col-xs-6">
						<a title="Image 6" href="#"><img
							class="thumbnail img-responsive"
							src="\images\photos\macaroon4.jpg" width="150" height="150"></a>
					</div>
					<div class="col-lg-3 col-sm-4 col-xs-6">
						<a title="Image 8" href="#"><img
							class="thumbnail img-responsive"
							src="\images\photos\macaroon5.jpg" width="150" height="150"></a>
					</div>
					<div class="col-lg-3 col-sm-4 col-xs-6">
						<a title="Image 9" href="#"><img
							class="thumbnail img-responsive"
							src="\images\photos\macaroon6.jpg" width="150" height="150"></a>
					</div>
					<div class="col-lg-3 col-sm-4 col-xs-6">
						<a title="Image 10" href="#"><img
							class="thumbnail img-responsive"
							src="\images\photos\macaroon8.jpg" width="150" height="150"></a>
					</div>
					<div class="col-lg-3 col-sm-4 col-xs-6">
						<a title="Image 11" href="#"><img
							class="thumbnail img-responsive"
							src="\images\photos\macaroon7.jpg" width="150" height="150"></a>
					</div>
					<div class="col-lg-3 col-sm-4 col-xs-6">
						<a title="Image 12" href="#"><img
							class="thumbnail img-responsive"
							src="\images\photos\macaroon9.jpg" width="150" height="150"></a>
					</div>
					<div class="col-lg-3 col-sm-4 col-xs-6">
						<a title="Image 11" href="#"><img
							class="thumbnail img-responsive"
							src="\images\photos\macaroon7.jpg" width="150" height="150"></a>
					</div>
					<div class="col-lg-3 col-sm-4 col-xs-6">
						<a title="Image 12" href="#"><img
							class="thumbnail img-responsive"
							src="\images\photos\macaroon9.jpg" width="150" height="150"></a>
					</div>
					<div class="col-lg-3 col-sm-4 col-xs-6">
						<a title="Image 2" href="#"><img
							class="thumbnail img-responsive"
							src="\images\photos\macaroon1.jpg" width="150" height="150"></a>
					</div>
					<div class="col-lg-3 col-sm-4 col-xs-6">
						<a title="Image 3" href="#"><img
							class="thumbnail img-responsive"
							src="\images\photos\macaroon10.jpg" width="150" height="150"></a>
					</div>
					<div class="col-lg-3 col-sm-4 col-xs-6">
						<a title="Image 4" href="#"><img
							class="thumbnail img-responsive"
							src="\images\photos\macaroon2.jpg" width="150" height="150"></a>
					</div>
					<div class="col-lg-3 col-sm-4 col-xs-6">
						<a title="Image 5" href="#"><img
							class="thumbnail img-responsive"
							src="\images\photos\macaroon3.jpg" width="150" height="150"></a>
					</div>
					<div class="col-lg-3 col-sm-4 col-xs-6">
						<a title="Image 8" href="#"><img
							class="thumbnail img-responsive"
							src="\images\photos\macaroon5.jpg" width="150" height="150"></a>
					</div>
					<div class="col-lg-3 col-sm-4 col-xs-6">
						<a title="Image 9" href="#"><img
							class="thumbnail img-responsive"
							src="\images\photos\macaroon6.jpg" width="150" height="150"></a>
					</div>
					<div class="col-lg-3 col-sm-4 col-xs-6">
						<a title="Image 10" href="#"><img
							class="thumbnail img-responsive"
							src="\images\photos\macaroon8.jpg" width="150" height="150"></a>
					</div>
					<div class="col-lg-3 col-sm-4 col-xs-6">
						<a title="Image 11" href="#"><img
							class="thumbnail img-responsive"
							src="\images\photos\macaroon7.jpg" width="150" height="150"></a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
					<label for="acutenessTestLbl">Phone number<br></label> <br>
					<label for="acutenessTestLbl">03 9024 4528<br>
					</label> <br> <label for="acutenessTestLbl"><span
						class="title-text-2">Desserts, French, Coffee and Tea</span><br>
					</label><br>
					<br>
					<div ng-repeat="step in stepsModel">
						<img class="thumb" ng-src="{{step}}" />
					</div>

					<input type='file' ng-model-instant
						onchange="angular.element(this).scope().imageUpload(event)"
						multiple />
					<!-- <button ng-click="clear()">clear</button> -->
				</div>
			</div>
			<div class="modal" id="myModal" role="dialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button class="close" type="button" data-dismiss="modal">×</button>
							<h3 class="modal-title"></h3>
						</div>
						<div class="modal-body">
							<div id="modalCarousel" class="carousel">
								<div class="carousel-inner"></div>
								<a class="carousel-control left" href="#modaCarousel"
									data-slide="prev"><i
									class="glyphicon glyphicon-chevron-left"></i></a> <a
									class="carousel-control right" href="#modalCarousel"
									data-slide="next"><i
									class="glyphicon glyphicon-chevron-right"></i></a>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<div class="row row-mptp">
	<!-- Need Help -->
	<div class="form-section-small-legend"></div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-section-small">
		<div
			class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-subsection-small">
			<div class="row well-padding">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
					style="text-align: center;">
					<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
						<label>Telephone: <span style="color: #60CA13">1800
								638 802</span></label>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
						Email: <a href="mailto:labelle@hotmail.com.au " target="_blank">labelle@hotmail.com.au</a>
					</div>
					<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
						<label>Fax: <span style="color: #60CA13">03 8683
								0777</span></label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>